flows.json
[
    {
        "id": "3c27d32a0074e6b2",
        "type": "tab",
        "label": "FIWARE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a4975ebcc568c40",
        "type": "tab",
        "label": "Aba seleção de ovos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "148c173e8eacbf9a",
        "type": "tab",
        "label": "Tempo real",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea538592da2e51e2",
        "type": "tab",
        "label": "Histórico",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d768a6d29d0e02d4",
        "type": "tab",
        "label": "Nacional",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c14bb0afdbd62e1",
        "type": "tab",
        "label": "Internacional",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "366409cd76c69ba2",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#feb020",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#1a8e06",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "blue",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "DECISION HUB - Seu HUB de informações úteis para avicultura",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YY",
            "sizes": {
                "sx": 40,
                "sy": 40,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "95a56cd306c01399",
        "type": "ui_tab",
        "name": "Início",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1026f58dc258542c",
        "type": "ui_tab",
        "name": "Seleção de ovos",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d06c7024e6938db6",
        "type": "ui_tab",
        "name": "FSA Temp e Umid",
        "icon": "show_chart",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a7d23cd996ba7867",
        "type": "ui_tab",
        "name": "FSA Produção",
        "icon": "show_chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25146704fdff4c17",
        "type": "ui_tab",
        "name": "Sobre",
        "icon": "feedback",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43174ed033fbc86e",
        "type": "ui_tab",
        "name": "Nacional",
        "icon": "show_chart",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c43e1d3993da57ea",
        "type": "ui_tab",
        "name": "Internacional",
        "icon": "show_chart",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f8d2be63eb19876e",
        "type": "ui_group",
        "name": "Tempo real: Santa Rita do Passa Quatro, SP, BR",
        "tab": "95a56cd306c01399",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8bcb2804d0691f25",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d06c7024e6938db6",
        "order": 2,
        "disp": false,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a36d8b353b5ac62a",
        "type": "ui_group",
        "name": "Ovos bons",
        "tab": "1026f58dc258542c",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "847566bf4ea81b9a",
        "type": "ui_group",
        "name": "Ovos ruins",
        "tab": "1026f58dc258542c",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cad099844726e2c2",
        "type": "ui_group",
        "name": "Controles",
        "tab": "1026f58dc258542c",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c3af32dfbbc6bd9",
        "type": "ui_group",
        "name": "Gráfico da produção",
        "tab": "1026f58dc258542c",
        "order": 5,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e1d1b289722c345",
        "type": "ui_group",
        "name": "produção e preço semanais",
        "tab": "a7d23cd996ba7867",
        "order": 1,
        "disp": false,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce464e0166efc6ec",
        "type": "ui_group",
        "name": "Trabalho de conclusão de curso",
        "tab": "25146704fdff4c17",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c8f1f291b85d76d5",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "43174ed033fbc86e",
        "order": 1,
        "disp": false,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e1547b4c5b09615",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "c43e1d3993da57ea",
        "order": 1,
        "disp": false,
        "width": 23,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc81aa1c1fd12965",
        "type": "ui_group",
        "name": "Cadastro de produção",
        "tab": "1026f58dc258542c",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "161270f121bf3a0d",
        "type": "ui_spacer",
        "z": "148c173e8eacbf9a",
        "name": "spacer",
        "group": "ce464e0166efc6ec",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c5056ac5491c2657",
        "type": "ui_spacer",
        "z": "148c173e8eacbf9a",
        "name": "spacer",
        "group": "ce464e0166efc6ec",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9120c9f0e563c951",
        "type": "ui_spacer",
        "z": "5a4975ebcc568c40",
        "name": "spacer",
        "group": "cad099844726e2c2",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "bcf2672e7ac076f5",
        "type": "ui_spacer",
        "z": "148c173e8eacbf9a",
        "name": "spacer",
        "group": "f8d2be63eb19876e",
        "order": 10,
        "width": 21,
        "height": 1
    },
    {
        "id": "9bccc41af47bb660",
        "type": "Open APIs",
        "name": "Helix",
        "geType": "orion",
        "apiEndpoint": "http://46.17.108.89:1026/",
        "service": "helixiot",
        "idmEndpoint": "",
        "idmType": "none"
    },
    {
        "id": "2cc2d89279b19382",
        "type": "inject",
        "z": "3c27d32a0074e6b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "d13ff7ba584766ad"
            ]
        ]
    },
    {
        "id": "2bd12c432ba89bed",
        "type": "debug",
        "z": "3c27d32a0074e6b2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "06255b12958273f3",
        "type": "inject",
        "z": "3c27d32a0074e6b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:entity:001\",\"type\":\"iot\",\"temperature\":{\"type\":\"float\",\"value\":0},\"humidity\":{\"type\":\"float\",\"value\":0},\"irrigation\":{\"type\":\"bolean\",\"value\":0},\"gerator\":{\"type\":\"bolean\",\"value\":1},\"exaustor\":{\"type\":\"bolean\",\"value\":1},\"soja\":{\"type\":\"array\",\"value\":[1451,1457,1429,1417,1428,1436]}}",
        "payloadType": "json",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "fc30cffa238e8e1b"
            ]
        ]
    },
    {
        "id": "c87af5ac09123664",
        "type": "debug",
        "z": "3c27d32a0074e6b2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "526a4255dce2df39",
        "type": "inject",
        "z": "3c27d32a0074e6b2",
        "name": "Ler entidade",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "f18a1294788f3491"
            ]
        ]
    },
    {
        "id": "7ba35e812154abd9",
        "type": "debug",
        "z": "3c27d32a0074e6b2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "1a8ac891a28d633b",
        "type": "inject",
        "z": "3c27d32a0074e6b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:entity:1\"}",
        "payloadType": "json",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "39149dcb9ec0743d"
            ]
        ]
    },
    {
        "id": "86c307735986c38f",
        "type": "debug",
        "z": "3c27d32a0074e6b2",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "f218d821bd39cc59",
        "type": "inject",
        "z": "3c27d32a0074e6b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":{\"type\":\"float\",\"value\":17,\"metadata\":{}}}",
        "payloadType": "json",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "2c2e1aabea6674f6"
            ]
        ]
    },
    {
        "id": "bb771975c7c01820",
        "type": "debug",
        "z": "3c27d32a0074e6b2",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "cd23d68815e799ad",
        "type": "inject",
        "z": "3c27d32a0074e6b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"float\",\"value\":22}",
        "payloadType": "json",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "493d776fbb65c0b2"
            ]
        ]
    },
    {
        "id": "e22bf8bc4dd4eb89",
        "type": "debug",
        "z": "3c27d32a0074e6b2",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "86f2bc2210a3a5db",
        "type": "inject",
        "z": "3c27d32a0074e6b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "json",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "1f18837a26d4103c"
            ]
        ]
    },
    {
        "id": "d081d67b9bce00c6",
        "type": "debug",
        "z": "3c27d32a0074e6b2",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "6de0ae6b2d5ff539",
        "type": "inject",
        "z": "3c27d32a0074e6b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:OpenWeatherMapWeather:3449851\"}",
        "payloadType": "json",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "c7cab7f5f37eaa80"
            ]
        ]
    },
    {
        "id": "6997e13a0b3f82f8",
        "type": "debug",
        "z": "3c27d32a0074e6b2",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "fc30cffa238e8e1b",
        "type": "NGSI Entity",
        "z": "3c27d32a0074e6b2",
        "name": "Criar entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "c87af5ac09123664"
            ]
        ]
    },
    {
        "id": "f18a1294788f3491",
        "type": "NGSI Entity",
        "z": "3c27d32a0074e6b2",
        "name": "Ler entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:entity:001",
        "entityType": "iot",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "7ba35e812154abd9"
            ]
        ]
    },
    {
        "id": "39149dcb9ec0743d",
        "type": "NGSI Entity",
        "z": "3c27d32a0074e6b2",
        "name": "Excluir entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "",
        "entityType": "iot",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "86c307735986c38f"
            ]
        ]
    },
    {
        "id": "c7cab7f5f37eaa80",
        "type": "NGSI Entity",
        "z": "3c27d32a0074e6b2",
        "name": "Excluir entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "urn:ngsi-ld:OpenWeatherMapWeather:3449851",
        "entityType": "OpenWeatherMapWeather",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "6997e13a0b3f82f8"
            ]
        ]
    },
    {
        "id": "2c2e1aabea6674f6",
        "type": "NGSI Attributes",
        "z": "3c27d32a0074e6b2",
        "name": "Atualizar entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "update",
        "entityId": "urn:ngsi-ld:entity:001",
        "entityType": "iot",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "bb771975c7c01820"
            ]
        ]
    },
    {
        "id": "493d776fbb65c0b2",
        "type": "NGSI Attribute",
        "z": "3c27d32a0074e6b2",
        "name": "Atualizar atributo",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "update",
        "entityId": "urn:ngsi-ld:entity:001",
        "entityType": "iot",
        "attrName": "temperature",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "e22bf8bc4dd4eb89"
            ]
        ]
    },
    {
        "id": "1f18837a26d4103c",
        "type": "NGSI Attribute value",
        "z": "3c27d32a0074e6b2",
        "name": "Atualizar valor atrib",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "update",
        "entityId": "urn:ngsi-ld:entity:001",
        "entityType": "iot",
        "attrName": "temperature",
        "skipForwarding": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "d081d67b9bce00c6"
            ]
        ]
    },
    {
        "id": "d13ff7ba584766ad",
        "type": "FIWARE version",
        "z": "3c27d32a0074e6b2",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "2bd12c432ba89bed"
            ]
        ]
    },
    {
        "id": "6a63c4aa5cf46339",
        "type": "function",
        "z": "5a4975ebcc568c40",
        "name": "% ovos",
        "func": "if (msg.payload.bons && msg.payload.ruins) {\n    var valor1 = parseInt(msg.payload.bons);\n    var valor2 = parseInt(msg.payload.ruins);\n\n    if (!isNaN(valor1) && !isNaN(valor2)) {\n        var soma = valor1 + valor2;\n    }\n}\n\n//porcentagem ruins\nvar ruins_pc = msg.valor2 || 0;\nruins_pc = (valor2 / soma) * 100;\nmsg.ruins_pc = Math.round(ruins_pc);\n\n//porcentagem boas\nvar boas_pc = valor1 || 0;\nboas_pc = (valor1 / soma) * 100;\nmsg.boas_pc = Math.round(boas_pc);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 40,
        "wires": [
            [
                "9bb4846fcdc0c53e",
                "9834b9ff599c3e33"
            ]
        ]
    },
    {
        "id": "bf1f338b2a287084",
        "type": "function",
        "z": "5a4975ebcc568c40",
        "name": "function 8",
        "func": "// Define uma variável global para armazenar o valor acumulado\ncontext.global.valorAcumulado = context.global.valorAcumulado || 0;\n\n// Converte o payload (string) em um número inteiro e adiciona ao valor acumulado\nvar valor = parseInt(msg.payload.bons);\nif (!isNaN(valor)) {\n    context.global.valorAcumulado += valor;\n}\n\n// Retorna a mensagem com o valor acumulado como payload\nmsg.payload = context.global.valorAcumulado.toString();\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "ddf4e2ed36b1e975",
                "7211cedbf4bab244",
                "e986d9b266f8ccbd"
            ]
        ]
    },
    {
        "id": "0f22692b6b038ee8",
        "type": "function",
        "z": "5a4975ebcc568c40",
        "name": "function 9",
        "func": "// Define uma variável global para armazenar o valor acumulado\ncontext.global.valorAcumulado2 = context.global.valorAcumulado2 || 0;\n\n// Converte o payload (string) em um número inteiro e adiciona ao valor acumulado\nvar valor = parseInt(msg.payload.ruins);\nif (!isNaN(valor)) {\n    context.global.valorAcumulado2 += valor;\n}\n\n// Retorna a mensagem com o valor acumulado como payload\nmsg.payload = context.global.valorAcumulado2.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "b7b501af8d966eae",
                "8f53db27102d1f8c",
                "7211cedbf4bab244"
            ]
        ]
    },
    {
        "id": "8f53db27102d1f8c",
        "type": "function",
        "z": "5a4975ebcc568c40",
        "name": "function 10",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 220,
        "wires": [
            [
                "702778c720fac655"
            ]
        ]
    },
    {
        "id": "55701599c0ad4992",
        "type": "function",
        "z": "5a4975ebcc568c40",
        "name": "function 11",
        "func": "context.global.valorAcumulado2 =  0;\ncontext.global.valorAcumulado = 0;\nmsg.payload.bons = 0;\nmsg.payload.ruins = 0;\n\n// Retorna a mensagem com o valor acumulado como payload\nmsg.payload = context.global.valorAcumulado2.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "ddf4e2ed36b1e975",
                "b7b501af8d966eae",
                "2550832b6db8a2ae",
                "6e1a832de52f8a75",
                "9834b9ff599c3e33",
                "9bb4846fcdc0c53e"
            ]
        ]
    },
    {
        "id": "7211cedbf4bab244",
        "type": "debug",
        "z": "5a4975ebcc568c40",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "e986d9b266f8ccbd",
        "type": "function",
        "z": "5a4975ebcc568c40",
        "name": "function 14",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "702778c720fac655"
            ]
        ]
    },
    {
        "id": "702778c720fac655",
        "type": "function",
        "z": "5a4975ebcc568c40",
        "name": "function 15",
        "func": "msg.payload = 900;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 420,
        "wires": [
            [
                "2550832b6db8a2ae",
                "7211cedbf4bab244"
            ]
        ]
    },
    {
        "id": "b4d22c818e03bc6b",
        "type": "ui_button",
        "z": "5a4975ebcc568c40",
        "name": "",
        "group": "cad099844726e2c2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESETAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "55701599c0ad4992"
            ]
        ]
    },
    {
        "id": "d73ba755a72e7b99",
        "type": "ui_form",
        "z": "5a4975ebcc568c40",
        "name": "",
        "label": "",
        "group": "cc81aa1c1fd12965",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Data",
                "value": "labels",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Bons",
                "value": "bons",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Ruins",
                "value": "ruins",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "labels": "",
            "bons": "",
            "ruins": ""
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "6a63c4aa5cf46339",
                "bf1f338b2a287084",
                "0f22692b6b038ee8",
                "6e1a832de52f8a75"
            ]
        ]
    },
    {
        "id": "9bb4846fcdc0c53e",
        "type": "ui_gauge",
        "z": "5a4975ebcc568c40",
        "name": "",
        "group": "847566bf4ea81b9a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "% Ovos ruins",
        "label": "%",
        "format": "{{ruins_pc}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "9834b9ff599c3e33",
        "type": "ui_gauge",
        "z": "5a4975ebcc568c40",
        "name": "",
        "group": "a36d8b353b5ac62a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "% Ovos bons",
        "label": "%",
        "format": "{{boas_pc}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "6e1a832de52f8a75",
        "type": "ui_chart",
        "z": "5a4975ebcc568c40",
        "name": "",
        "group": "5c3af32dfbbc6bd9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2550832b6db8a2ae",
        "type": "ui_text",
        "z": "5a4975ebcc568c40",
        "group": "cad099844726e2c2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total de ovos produzidos",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7b501af8d966eae",
        "type": "ui_text",
        "z": "5a4975ebcc568c40",
        "group": "cad099844726e2c2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total de ovos ruins",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "ddf4e2ed36b1e975",
        "type": "ui_text",
        "z": "5a4975ebcc568c40",
        "group": "cad099844726e2c2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total de ovos bons",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "f4377ba4dfbfde65",
        "type": "debug",
        "z": "148c173e8eacbf9a",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "f5f7d401e39b7f55",
        "type": "debug",
        "z": "148c173e8eacbf9a",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "2709ef4b62f184ae",
        "type": "change",
        "z": "148c173e8eacbf9a",
        "name": "Ler temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "e9260fc7f8852e75"
            ]
        ]
    },
    {
        "id": "5ff4dad65b2d73c0",
        "type": "debug",
        "z": "148c173e8eacbf9a",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "d775b25784dd04e9",
        "type": "comment",
        "z": "148c173e8eacbf9a",
        "name": "Lê a temperatura e umidade na entidade criada e envia o dado da temperatura atual ao gauge, termômetro e notificação",
        "info": "",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "9c2b4db9126dcecc",
        "type": "comment",
        "z": "148c173e8eacbf9a",
        "name": "Lê a temperatura de São Carlos através do openweather e cria entidade no Helix",
        "info": "",
        "x": 440,
        "y": 20,
        "wires": []
    },
    {
        "id": "92055da4bf90bf02",
        "type": "change",
        "z": "148c173e8eacbf9a",
        "name": "Ler umidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "e36b639f8b3640f7",
                "b750c3131d4d942b",
                "9b0f1c469a172a83"
            ]
        ]
    },
    {
        "id": "e9260fc7f8852e75",
        "type": "function",
        "z": "148c173e8eacbf9a",
        "name": "function 2",
        "func": "let celsius = (msg.payload - 273.15);\nmsg.payload = Math.floor(celsius);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "e34f2a194c1d6242"
            ]
        ]
    },
    {
        "id": "b264cb08ede71671",
        "type": "change",
        "z": "148c173e8eacbf9a",
        "name": "Ler desc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.description",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "a92e42061438ea16"
            ]
        ]
    },
    {
        "id": "7e1094f102f884d6",
        "type": "template",
        "z": "148c173e8eacbf9a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Dados atualizados !",
        "output": "str",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "57a9ed03e5c6a883"
            ]
        ]
    },
    {
        "id": "9b9fe6cb57693850",
        "type": "inject",
        "z": "148c173e8eacbf9a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "06680ea47a342933"
            ]
        ]
    },
    {
        "id": "2d027a28860ab2c0",
        "type": "change",
        "z": "148c173e8eacbf9a",
        "name": "Ler temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.feels_like",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "cc29ceff723b721b",
                "30b5c97656ed3ee8"
            ]
        ]
    },
    {
        "id": "cc29ceff723b721b",
        "type": "function",
        "z": "148c173e8eacbf9a",
        "name": "function 7",
        "func": "let celsius = (msg.payload - 273.15);\nmsg.payload = Math.floor(celsius);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 460,
        "wires": [
            [
                "53c192a9efb5478e"
            ]
        ]
    },
    {
        "id": "b750c3131d4d942b",
        "type": "function",
        "z": "148c173e8eacbf9a",
        "name": "function 12",
        "func": "if (msg.payload > 80) {\n    msg.payload = \" Ar muito úmido! Cuidado com o a ploriferação de fungos e bactérias ! \";\n} else if (msg.payload < 30) {\n    msg.payload = \"Ar muito seco! Cuidado a desidatração dos animais, a qualidade do ovo será afetada !\";\n} else {\n    msg.payload = \"Umidade dentro da faixa ideal.\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 240,
        "wires": [
            [
                "ce71a82dea1fb97f"
            ]
        ]
    },
    {
        "id": "9b0f1c469a172a83",
        "type": "debug",
        "z": "148c173e8eacbf9a",
        "name": "debug 43",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 320,
        "wires": []
    },
    {
        "id": "30b5c97656ed3ee8",
        "type": "function",
        "z": "148c173e8eacbf9a",
        "name": "function 13",
        "func": "if (msg.payload > 26) {\n    msg.payload = \" Fora da zona de conforto térmico ! Aves podem se estressar e aumentar da ingestão de água, redução no consumo de ração. \";\n} else if (msg.payload < 20) {\n    msg.payload = \" Fora da zona de conforto térmico ! afeta o metabolismo dos animais e aumenta o consumo de alimentos.\";\n} else {\n    msg.payload = \"Zona de conforto térmico a temperatura está dentro da faixa ideal.\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 420,
        "wires": [
            [
                "e6fed37f1b9fc07d"
            ]
        ]
    },
    {
        "id": "e6fed37f1b9fc07d",
        "type": "delay",
        "z": "148c173e8eacbf9a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1120,
        "y": 420,
        "wires": [
            [
                "1cadf120a2204d30"
            ]
        ]
    },
    {
        "id": "b54633cc1236bacb",
        "type": "ui_button",
        "z": "148c173e8eacbf9a",
        "name": "",
        "group": "f8d2be63eb19876e",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Atualizar dados",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "update",
        "payload": "{}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "06680ea47a342933",
                "90bb6fd43975f930",
                "d21a459c713ecc78"
            ]
        ]
    },
    {
        "id": "e34f2a194c1d6242",
        "type": "ui_gauge",
        "z": "148c173e8eacbf9a",
        "name": "",
        "group": "f8d2be63eb19876e",
        "order": 4,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura atual",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#1f77b4",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "e36b639f8b3640f7",
        "type": "ui_gauge",
        "z": "148c173e8eacbf9a",
        "name": "",
        "group": "f8d2be63eb19876e",
        "order": 6,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Umidade atual",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "53c192a9efb5478e",
        "type": "ui_gauge",
        "z": "148c173e8eacbf9a",
        "name": "",
        "group": "f8d2be63eb19876e",
        "order": 5,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Sensação térmica",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#1f77b4",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "57a9ed03e5c6a883",
        "type": "ui_toast",
        "z": "148c173e8eacbf9a",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "1cadf120a2204d30",
        "type": "ui_toast",
        "z": "148c173e8eacbf9a",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1270,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ce71a82dea1fb97f",
        "type": "ui_toast",
        "z": "148c173e8eacbf9a",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1090,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a92e42061438ea16",
        "type": "ui_text",
        "z": "148c173e8eacbf9a",
        "group": "f8d2be63eb19876e",
        "order": 2,
        "width": 21,
        "height": 1,
        "name": "",
        "label": "Situação:  ",
        "format": " {{value}}",
        "layout": "row-center",
        "className": "",
        "x": 720,
        "y": 540,
        "wires": []
    },
    {
        "id": "d21a459c713ecc78",
        "type": "openweathermap",
        "z": "148c173e8eacbf9a",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Santa Rita do Passa Quatro",
        "country": "Brasil",
        "language": "pt",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "c71215b7ac67e683"
            ]
        ]
    },
    {
        "id": "768e66eeecc658cd",
        "type": "NGSI Entity",
        "z": "148c173e8eacbf9a",
        "name": "Criar entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "upsert",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 720,
        "y": 80,
        "wires": [
            [
                "f5f7d401e39b7f55"
            ]
        ]
    },
    {
        "id": "06680ea47a342933",
        "type": "NGSI Entity",
        "z": "148c173e8eacbf9a",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:OpenWeatherMapWeather:3449851",
        "entityType": "OpenWeatherMapWeather",
        "attrs": "main",
        "keyValues": "false",
        "dateModified": "false",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "9713cc4c8866a808",
                "7e1094f102f884d6"
            ]
        ]
    },
    {
        "id": "90bb6fd43975f930",
        "type": "NGSI Entity",
        "z": "148c173e8eacbf9a",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:OpenWeatherMapWeather:3449851",
        "entityType": "OpenWeatherMapWeather",
        "attrs": "weather",
        "keyValues": "false",
        "dateModified": "false",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "ceb7022157ec4ace"
            ]
        ]
    },
    {
        "id": "9713cc4c8866a808",
        "type": "NGSI Attribute value",
        "z": "148c173e8eacbf9a",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "",
        "entityType": "",
        "attrName": "main",
        "skipForwarding": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "2709ef4b62f184ae",
                "92055da4bf90bf02",
                "5ff4dad65b2d73c0",
                "2d027a28860ab2c0"
            ]
        ]
    },
    {
        "id": "ceb7022157ec4ace",
        "type": "NGSI Attribute value",
        "z": "148c173e8eacbf9a",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "",
        "entityType": "",
        "attrName": "weather",
        "skipForwarding": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 340,
        "y": 540,
        "wires": [
            [
                "b264cb08ede71671"
            ]
        ]
    },
    {
        "id": "c71215b7ac67e683",
        "type": "OpenWeatherMap to NGSI",
        "z": "148c173e8eacbf9a",
        "name": "WeatherToNGSI",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "768e66eeecc658cd",
                "f4377ba4dfbfde65"
            ]
        ]
    },
    {
        "id": "e8728d79043dcd53",
        "type": "inject",
        "z": "ea538592da2e51e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:AgriProductType:HistData\",\"type\":\"AgriProductType\",\"name\":\"HistData\",\"description\":\"Dados históricos da produção da FESA\",\"day\":[\"16/07/21\",\"23/07/21\",\"30/07/21\",\"03/08/21\",\"09/08/21\",\"17/08/21\",\"24/08/21\",\"31/08/21\",\"08/09/21\",\"14/09/21\",\"20/09/21\",\"27/09/21\",\"05/10/21\",\"15/10/21\",\"22/10/21\",\"26/10/21\",\"03/11/21\",\"09/11/21\",\"16/11/21\",\"23/11/21\",\"30/11/21\",\"07/12/21\",\"14/12/21\",\"20/12/21\",\"28/12/21\",\"04/01/22\",\"11/01/22\",\"18/01/22\",\"25/01/22\",\"01/02/22\",\"08/02/22\",\"15/02/22\",\"22/02/22\",\"04/03/22\",\"08/03/22\",\"15/03/22\",\"22/03/22\",\"29/03/22\",\"05/04/22\",\"12/04/22\",\"19/04/22\",\"26/04/22\",\"03/05/22\",\"10/05/22\",\"17/05/22\",\"24/05/22\",\"31/05/22\",\"07/06/22\",\"14/06/22\",\"20/06/22\",\"27/06/22\",\"05/07/22\",\"11/07/22\",\"20/07/22\",\"25/07/22\",\"02/08/22\"],\"production\":[553,718,677,677.5,732,778,755.5,790,899.5,684,793,791,758.5,980,549,761,864,631,726,743,755,752.5,760.5,753,767,762.5,758,754,763,766.5,760,768.5,764,1084,430,742.5,736.75,729.5,738,729,728.5,725.5,722,724.5,722,715.5,718,712,709,700.5,688.75,680.5,688.5,686,685,677.5],\"temperature\":[19.68,17.18,16.14,16.4,19.05,22.28,22.98,19.56,25.01,24.34,24.68,23.99,22.3,21.41,19.4,22.14,22.47,22.63,21.61,23.04,22.91,21.18,23.01,22.53,22.06,21.62,21.17,23.4,25.31,20.71,22.29,23,23.23,22.51,22.3,22.36,22.44,21,21.6,21.28,19.75,21.01,21,17.94,17.78,12.81,18.79,18.9,16.64,16.89,18.37,18.15,18.46,19.92,20.64,19.09],\"price\":[6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.53,6.58,6.58,6.58,6.58,6.58,6.58,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,7.5,7.5,7.5,7.5,7.5,7.5,7.5,7.5,7.5,7.5,7.5,7.5],\"humidity\":[49.25,43.34,52.9,57.84,52.86,46.39,39.49,61.13,43.35,52.54,45.09,52.12,68.9,70.81,74.96,71.22,66.33,65.33,64.4,59.27,71.4,67.3,73.86,70.43,71.37,86.4,80.69,73.97,66.05,90.87,79.33,73.82,73.74,62.33,60.05,80.1,71.95,65,75,71.06,67.42,60.05,74.78,77.58,65.47,62.99,75.31,77.65,69.24,64.59,64.27,56.46,56.04,56.99,56.04,45.02]}",
        "payloadType": "json",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "08acb9ef9b9a196b"
            ]
        ]
    },
    {
        "id": "31e2c2c9f2bff06a",
        "type": "debug",
        "z": "ea538592da2e51e2",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "2b9d1c447b319764",
        "type": "inject",
        "z": "ea538592da2e51e2",
        "name": "Ler temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "09edde87b1151caa"
            ]
        ]
    },
    {
        "id": "3b8edefc28c4b4b9",
        "type": "debug",
        "z": "ea538592da2e51e2",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "8a417641ccdad007",
        "type": "inject",
        "z": "ea538592da2e51e2",
        "name": "Apagar temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "dc1fa2f61edf8dcf"
            ]
        ]
    },
    {
        "id": "3221bff9bd14abea",
        "type": "debug",
        "z": "ea538592da2e51e2",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "3b2f49372141d86a",
        "type": "inject",
        "z": "ea538592da2e51e2",
        "name": "Leitura",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "509a19c86427a95d"
            ]
        ]
    },
    {
        "id": "03613652237fdf8d",
        "type": "function",
        "z": "ea538592da2e51e2",
        "name": "Temperatura",
        "func": "var arr1 = msg.payload.temperature.value;\nvar arr2 = msg.payload.day.value;\n\nfunction formatData(arr1, arr2) {\n    const dataObject = [{\n        \"series\": [\"Temperatura média do dia (em ºC)\"],\n        \"data\": [arr1],\n        \"labels\": arr2\n    }];\n\n    return dataObject;\n}\n\nconst result = formatData(arr1, arr2);\nreturn {payload : result };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 280,
        "wires": [
            [
                "b0459ef3cfd438e4"
            ]
        ]
    },
    {
        "id": "21fc1e4f402a5d85",
        "type": "function",
        "z": "ea538592da2e51e2",
        "name": "Preço",
        "func": "var arr1 = msg.payload.price.value;\nvar arr2 = msg.payload.day.value;\n\nfunction formatData(arr1, arr2) {\n    const dataObject = [{\n        \"series\": [\"Preço no dia por dúzia (em reais)\"],\n        \"data\": [arr1],\n        \"labels\": arr2\n    }];\n\n    return dataObject;\n}\n\nconst result = formatData(arr1, arr2);\nreturn {payload : result };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 480,
        "wires": [
            [
                "433a3070b8e931dd"
            ]
        ]
    },
    {
        "id": "4eda1b612198c8dc",
        "type": "function",
        "z": "ea538592da2e51e2",
        "name": "Produção",
        "func": "var arr1 = msg.payload.production.value;\nvar arr2 = msg.payload.day.value;\n\nfunction formatData(arr1, arr2) {\n    const dataObject = [{\n        \"series\": [\"Produção semanal registrada no dia (em dúzia)\"],\n        \"data\": [arr1],\n        \"labels\": arr2\n    }];\n\n    return dataObject;\n}\n\nconst result = formatData(arr1, arr2);\nreturn {payload : result };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "6d58b88fafd4f876"
            ]
        ]
    },
    {
        "id": "689701499a0a962b",
        "type": "function",
        "z": "ea538592da2e51e2",
        "name": "Umidade",
        "func": "var arr1 = msg.payload.humidity.value;\nvar arr2 = msg.payload.day.value;\n\nfunction formatData(arr1, arr2) {\n    const dataObject = [{\n        \"series\": [\"Umidade relativa do ar (em %)\"],\n        \"data\": [arr1],\n        \"labels\": arr2\n    }];\n\n    return dataObject;\n}\n\nconst result = formatData(arr1, arr2);\nreturn {payload : result };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "5df3657aae8cfd7b"
            ]
        ]
    },
    {
        "id": "b0459ef3cfd438e4",
        "type": "ui_chart",
        "z": "ea538592da2e51e2",
        "name": "",
        "group": "8bcb2804d0691f25",
        "order": 2,
        "width": 23,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "l",
        "interpolate": "bezier",
        "nodata": "no data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#2ca02c",
            "#ff7f0e",
            "#a4c1c9",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "433a3070b8e931dd",
        "type": "ui_chart",
        "z": "ea538592da2e51e2",
        "name": "",
        "group": "8e1d1b289722c345",
        "order": 3,
        "width": 23,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "l",
        "interpolate": "bezier",
        "nodata": "no data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#2ca02c",
            "#ff7f0e",
            "#a4c1c9",
            "#98df8a",
            "#1f77b4",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6d58b88fafd4f876",
        "type": "ui_chart",
        "z": "ea538592da2e51e2",
        "name": "",
        "group": "8bcb2804d0691f25",
        "order": 3,
        "width": 23,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "l",
        "interpolate": "bezier",
        "nodata": "no data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2c8c2c",
            "#1f77b4",
            "#ff7f0e",
            "#a4c1c9",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5df3657aae8cfd7b",
        "type": "ui_chart",
        "z": "ea538592da2e51e2",
        "name": "",
        "group": "8e1d1b289722c345",
        "order": 1,
        "width": 23,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "l",
        "interpolate": "bezier",
        "nodata": "no data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#2ca02c",
            "#ff7f0e",
            "#a4c1c9",
            "#98df8a",
            "#1f77b4",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "65e2c204b755460f",
        "type": "ui_text",
        "z": "ea538592da2e51e2",
        "group": "8bcb2804d0691f25",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fonte: INMET SP (Dados da cidade de São Carlos, SP)",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "0946b58e337a1167",
        "type": "ui_text",
        "z": "ea538592da2e51e2",
        "group": "8e1d1b289722c345",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Fonte: Fundação Salvador arena",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "830c6af1143a0d8e",
        "type": "ui_text",
        "z": "ea538592da2e51e2",
        "group": "8e1d1b289722c345",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fonte: (CEAGESP - Araraquara) http://dw.ceasa.gov.br/",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 530,
        "y": 660,
        "wires": []
    },
    {
        "id": "08acb9ef9b9a196b",
        "type": "NGSI Entity",
        "z": "ea538592da2e51e2",
        "name": "Criar entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "31e2c2c9f2bff06a"
            ]
        ]
    },
    {
        "id": "09edde87b1151caa",
        "type": "NGSI Entity",
        "z": "ea538592da2e51e2",
        "name": "Ler entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:AgriProductType:HistData",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "3b8edefc28c4b4b9"
            ]
        ]
    },
    {
        "id": "dc1fa2f61edf8dcf",
        "type": "NGSI Entity",
        "z": "ea538592da2e51e2",
        "name": "Excluir entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "urn:ngsi-ld:AgriProductType:HistData",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "3221bff9bd14abea"
            ]
        ]
    },
    {
        "id": "509a19c86427a95d",
        "type": "NGSI Entity",
        "z": "ea538592da2e51e2",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:AgriProductType:HistData",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "03613652237fdf8d",
                "4eda1b612198c8dc",
                "689701499a0a962b",
                "21fc1e4f402a5d85"
            ]
        ]
    },
    {
        "id": "671c4de675c48e82",
        "type": "inject",
        "z": "d768a6d29d0e02d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:AgriProductType:EggAndCornNac\",\"type\":\"AgriProductType\",\"name\":\"EggAndCornNac\",\"description\":\"Preços nacionais do ovo e do milho\",\"day\":[\"09/01/15\",\"16/01/15\",\"23/01/15\",\"30/01/15\",\"06/02/15\",\"13/02/15\",\"20/02/15\",\"27/02/15\",\"06/03/15\",\"13/03/15\",\"20/03/15\",\"27/03/15\",\"03/04/15\",\"10/04/15\",\"17/04/15\",\"24/04/15\",\"01/05/15\",\"08/05/15\",\"15/05/15\",\"22/05/15\",\"29/05/15\",\"05/06/15\",\"12/06/15\",\"19/06/15\",\"26/06/15\",\"03/07/15\",\"10/07/15\",\"17/07/15\",\"24/07/15\",\"31/07/15\",\"07/08/15\",\"14/08/15\",\"21/08/15\",\"28/08/15\",\"04/09/15\",\"11/09/15\",\"18/09/15\",\"25/09/15\",\"02/10/15\",\"09/10/15\",\"16/10/15\",\"23/10/15\",\"30/10/15\",\"06/11/15\",\"13/11/15\",\"20/11/15\",\"27/11/15\",\"04/12/15\",\"11/12/15\",\"18/12/15\",\"25/12/15\",\"01/01/16\",\"08/01/16\",\"15/01/16\",\"22/01/16\",\"29/01/16\",\"05/02/16\",\"12/02/16\",\"19/02/16\",\"26/02/16\",\"04/03/16\",\"11/03/16\",\"18/03/16\",\"25/03/16\",\"01/04/16\",\"08/04/16\",\"15/04/16\",\"22/04/16\",\"29/04/16\",\"06/05/16\",\"13/05/16\",\"20/05/16\",\"27/05/16\",\"03/06/16\",\"10/06/16\",\"17/06/16\",\"24/06/16\",\"01/07/16\",\"08/07/16\",\"15/07/16\",\"22/07/16\",\"29/07/16\",\"05/08/16\",\"12/08/16\",\"19/08/16\",\"26/08/16\",\"02/09/16\",\"09/09/16\",\"16/09/16\",\"23/09/16\",\"30/09/16\",\"07/10/16\",\"14/10/16\",\"21/10/16\",\"28/10/16\",\"04/11/16\",\"11/11/16\",\"18/11/16\",\"25/11/16\",\"02/12/16\",\"09/12/16\",\"16/12/16\",\"23/12/16\",\"30/12/16\",\"06/01/17\",\"13/01/17\",\"20/01/17\",\"27/01/17\",\"03/02/17\",\"10/02/17\",\"17/02/17\",\"24/02/17\",\"03/03/17\",\"10/03/17\",\"17/03/17\",\"24/03/17\",\"31/03/17\",\"07/04/17\",\"14/04/17\",\"21/04/17\",\"28/04/17\",\"05/05/17\",\"12/05/17\",\"19/05/17\",\"26/05/17\",\"02/06/17\",\"09/06/17\",\"16/06/17\",\"23/06/17\",\"30/06/17\",\"07/07/17\",\"14/07/17\",\"21/07/17\",\"28/07/17\",\"04/08/17\",\"11/08/17\",\"18/08/17\",\"25/08/17\",\"01/09/17\",\"08/09/17\",\"15/09/17\",\"22/09/17\",\"29/09/17\",\"06/10/17\",\"13/10/17\",\"20/10/17\",\"27/10/17\",\"03/11/17\",\"10/11/17\",\"17/11/17\",\"24/11/17\",\"01/12/17\",\"08/12/17\",\"15/12/17\",\"22/12/17\",\"29/12/17\",\"05/01/18\",\"12/01/18\",\"19/01/18\",\"26/01/18\",\"02/02/18\",\"09/02/18\",\"16/02/18\",\"23/02/18\",\"02/03/18\",\"09/03/18\",\"16/03/18\",\"23/03/18\",\"30/03/18\",\"06/04/18\",\"13/04/18\",\"20/04/18\",\"27/04/18\",\"04/05/18\",\"11/05/18\",\"18/05/18\",\"25/05/18\",\"01/06/18\",\"08/06/18\",\"15/06/18\",\"22/06/18\",\"29/06/18\",\"06/07/18\",\"13/07/18\",\"20/07/18\",\"27/07/18\",\"03/08/18\",\"10/08/18\",\"17/08/18\",\"24/08/18\",\"31/08/18\",\"07/09/18\",\"14/09/18\",\"21/09/18\",\"28/09/18\",\"05/10/18\",\"12/10/18\",\"19/10/18\",\"26/10/18\",\"02/11/18\",\"09/11/18\",\"16/11/18\",\"23/11/18\",\"30/11/18\",\"07/12/18\",\"14/12/18\",\"21/12/18\",\"28/12/18\",\"04/01/19\",\"11/01/19\",\"18/01/19\",\"25/01/19\",\"01/02/19\",\"08/02/19\",\"15/02/19\",\"22/02/19\",\"01/03/19\",\"08/03/19\",\"15/03/19\",\"22/03/19\",\"29/03/19\",\"05/04/19\",\"12/04/19\",\"19/04/19\",\"26/04/19\",\"03/05/19\",\"10/05/19\",\"17/05/19\",\"24/05/19\",\"31/05/19\",\"07/06/19\",\"14/06/19\",\"21/06/19\",\"28/06/19\",\"05/07/19\",\"12/07/19\",\"19/07/19\",\"26/07/19\",\"02/08/19\",\"09/08/19\",\"16/08/19\",\"23/08/19\",\"30/08/19\",\"06/09/19\",\"13/09/19\",\"20/09/19\",\"27/09/19\",\"04/10/19\",\"11/10/19\",\"18/10/19\",\"25/10/19\",\"01/11/19\",\"08/11/19\",\"15/11/19\",\"22/11/19\",\"29/11/19\",\"06/12/19\",\"13/12/19\",\"20/12/19\",\"27/12/19\",\"03/01/20\",\"10/01/20\",\"17/01/20\",\"24/01/20\",\"31/01/20\",\"07/02/20\",\"14/02/20\",\"21/02/20\",\"28/02/20\",\"06/03/20\",\"13/03/20\",\"20/03/20\",\"27/03/20\",\"03/04/20\",\"10/04/20\",\"17/04/20\",\"24/04/20\",\"01/05/20\",\"08/05/20\",\"15/05/20\",\"22/05/20\",\"29/05/20\",\"05/06/20\",\"12/06/20\",\"19/06/20\",\"26/06/20\",\"03/07/20\",\"10/07/20\",\"17/07/20\",\"24/07/20\",\"31/07/20\",\"07/08/20\",\"14/08/20\",\"21/08/20\",\"28/08/20\",\"04/09/20\",\"11/09/20\",\"18/09/20\",\"25/09/20\",\"02/10/20\",\"09/10/20\",\"16/10/20\",\"23/10/20\",\"30/10/20\",\"06/11/20\",\"13/11/20\",\"20/11/20\",\"27/11/20\",\"04/12/20\",\"11/12/20\",\"18/12/20\",\"25/12/20\",\"01/01/21\",\"08/01/21\",\"15/01/21\",\"22/01/21\",\"29/01/21\",\"05/02/21\",\"12/02/21\",\"19/02/21\",\"26/02/21\",\"05/03/21\",\"12/03/21\",\"19/03/21\",\"26/03/21\",\"02/04/21\",\"09/04/21\",\"16/04/21\",\"23/04/21\",\"30/04/21\",\"07/05/21\",\"14/05/21\",\"21/05/21\",\"28/05/21\",\"04/06/21\",\"11/06/21\",\"18/06/21\",\"25/06/21\",\"02/07/21\",\"09/07/21\",\"16/07/21\",\"23/07/21\",\"30/07/21\",\"06/08/21\",\"13/08/21\",\"20/08/21\",\"27/08/21\",\"03/09/21\",\"10/09/21\",\"17/09/21\",\"24/09/21\",\"01/10/21\",\"08/10/21\",\"15/10/21\",\"22/10/21\",\"29/10/21\",\"05/11/21\",\"12/11/21\",\"19/11/21\",\"26/11/21\",\"03/12/21\",\"10/12/21\",\"17/12/21\",\"24/12/21\",\"31/12/21\",\"07/01/22\",\"14/01/22\",\"21/01/22\",\"28/01/22\",\"04/02/22\",\"11/02/22\",\"18/02/22\",\"25/02/22\",\"04/03/22\",\"11/03/22\",\"18/03/22\",\"25/03/22\",\"01/04/22\",\"08/04/22\",\"15/04/22\",\"22/04/22\",\"29/04/22\",\"06/05/22\",\"13/05/22\",\"20/05/22\",\"27/05/22\",\"03/06/22\",\"10/06/22\",\"17/06/22\",\"24/06/22\",\"01/07/22\",\"08/07/22\",\"15/07/22\",\"22/07/22\",\"29/07/22\",\"05/08/22\",\"12/08/22\",\"19/08/22\",\"26/08/22\",\"02/09/22\",\"09/09/22\",\"16/09/22\",\"23/09/22\",\"30/09/22\",\"07/10/22\",\"14/10/22\",\"21/10/22\",\"28/10/22\",\"04/11/22\",\"11/11/22\",\"18/11/22\",\"25/11/22\",\"02/12/22\",\"09/12/22\",\"16/12/22\",\"23/12/22\",\"30/12/22\",\"06/01/23\",\"13/01/23\",\"20/01/23\",\"27/01/23\",\"03/02/23\",\"10/02/23\",\"17/02/23\",\"24/02/23\",\"03/03/23\"],\"egg\":[\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.83\",\"2.9\",\"2.9\",\"3\",\"3\",\"3\",\"3\",\"3\",\"3\",\"3.5\",\"3.85\",\"3.85\",\"3.85\",\"3.85\",\"3.6\",\"3.6\",\"3.6\",\"3.6\",\"3.6\",\"3.6\",\"3.6\",\"3.6\",\"3.6\",\"3.6\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"4.1\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"3.75\",\"2.85\",\"2.85\",\"2.85\",\"2.85\",\"2.85\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.66\",\"2.5\",\"2.5\",\"2.5\",\"2.5\",\"2.5\",\"2.5\",\"2.5\",\"3\",\"3.2\",\"3.4\",\"3.5\",\"3.5\",\"3.35\",\"3.35\",\"3.35\",\"3.35\",\"3.5\",\"3.5\",\"3.5\",\"3.35\",\"3.35\",\"3.2\",\"3.2\",\"3.1\",\"3.5\",\"3.35\",\"3.5\",\"3.35\",\"3.2\",\"3.2\",\"3.35\",\"3.2\",\"3.2\",\"3.33\",\"3.2\",\"3.35\",\"3.35\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.2\",\"3.5\",\"3.5\",\"3.5\",\"3.5\",\"3.5\",\"3.5\",\"3.5\",\"3.5\",\"3.5\",\"3.65\",\"4\",\"4\",\"4\",\"4\",\"4\",\"4\",\"4\",\"4\",\"4\",\"4\",\"4\",\"3.47\",\"3.47\",\"3.47\",\"3.47\",\"3.47\",\"3.83\",\"3.83\",\"3.83\",\"3.83\",\"3.66\",\"3.66\",\"3.66\",\"3.66\",\"3.66\",\"3.66\",\"3.66\",\"3.66\",\"3.66\",\"3.66\",\"3.66\",\"3.66\",\"3.5\",\"3.5\",\"3.83\",\"3.83\",\"3.83\",\"3.83\",\"4\",\"4\",\"4.17\",\"4\",\"4.17\",\"4.33\",\"4.33\",\"4.17\",\"4\",\"4\",\"4\",\"4.67\",\"4.67\",\"5\",\"5.17\",\"5.17\",\"5.17\",\"5.17\",\"5.17\",\"5\",\"5\",\"5.17\",\"5\",\"5\",\"4.83\",\"4.66\",\"4.33\",\"4.33\",\"4.33\",\"4.66\",\"4.66\",\"4.66\",\"4.66\",\"4.66\",\"4.66\",\"4.66\",\"4.66\",\"4.66\",\"5\",\"5\",\"5\",\"4.66\",\"4.66\",\"4.66\",\"4.66\",\"4.66\",\"5\",\"5\",\"4.83\",\"4.66\",\"4.66\",\"4.66\",\"4.5\",\"4.33\",\"4.33\",\"4.33\",\"4.33\",\"4.33\",\"4.33\",\"4.33\",\"4.33\",\"4.33\",\"4.66\",\"5\",\"5.33\",\"5.5\",\"5.5\",\"5.5\",\"5.5\",\"5.66\",\"5.66\",\"5.66\",\"5.66\",\"5.66\",\"5.66\",\"5.66\",\"5.66\",\"5.66\",\"5.66\",\"5.83\",\"5.83\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.83\",\"5.83\",\"5.83\",\"5.83\",\"5.83\",\"5.83\",\"6\",\"6\",\"6\",\"6\",\"6\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.67\",\"5.5\",\"5.5\",\"5.5\",\"5.5\",\"6\",\"6.67\",\"6.67\",\"6.83\",\"6.83\",\"6.83\",\"6.83\",\"6.83\",\"7.33\",\"7.33\"],\"corn\":[\"1.2\",\"1.2\",\"1.2\",\"1.3\",\"1.2\",\"1.2\",\"1.2\",\"1.1\",\"1.1\",\"1.1\",\"1.1\",\"1.1\",\"1.1\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.00\",\"1.00\",\"1.00\",\"0.9\",\"0.9\",\"0.9\",\"0.9\",\"0.9\",\"0.9\",\"0.9\",\"0.8\",\"0.8\",\"0.8\",\"0.8\",\"0.8\",\"0.8\",\"0.9\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.33\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.05\",\"1.05\",\"1.05\",\"1.05\",\"1.1\",\"0.95\",\"2.1\",\"2.00\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"0.85\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.2\",\"1.2\",\"1.2\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.25\",\"1.25\",\"1.25\",\"1.25\",\"1.25\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"0.85\",\"0.85\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.2\",\"1.35\",\"1.35\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.00\",\"1.00\",\"1.00\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.00\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.35\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.45\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.65\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.5\",\"1.73\",\"1.73\",\"1.73\",\"1.47\",\"1.47\",\"1.8\",\"1.8\",\"1.8\",\"2.00\",\"2.00\",\"2.00\",\"2.17\",\"2.17\",\"2.17\",\"2.17\",\"2.17\",\"2.17\",\"2.17\",\"2.17\",\"2.33\",\"2.33\",\"2.33\",\"2.13\",\"2.13\",\"1.87\",\"1.87\",\"1.87\",\"1.87\",\"1.87\",\"1.67\",\"1.67\",\"1.67\",\"1.67\",\"1.67\",\"1.47\",\"1.47\",\"1.67\",\"1.47\",\"1.47\",\"1.67\",\"1.67\",\"1.67\",\"1.67\",\"1.67\",\"1.67\",\"1.67\",\"2.00\",\"2.00\",\"2.00\",\"2.00\",\"2.00\",\"2.00\",\"2.00\",\"2.00\",\"2.00\",\"2.33\",\"2.00\",\"2.00\",\"2.33\",\"2.33\",\"2.33\",\"2.67\",\"2.67\",\"2.67\",\"2.67\",\"2.67\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.33\",\"2.00\",\"2.00\",\"2.00\",\"2.00\",\"1.73\",\"1.73\",\"1.73\",\"1.73\",\"1.73\",\"1.73\",\"1.73\",\"2.00\",\"2.00\",\"2.00\",\"2.00\",\"2.33\",\"2.00\",\"1.73\",\"1.73\",\"1.73\",\"1.73\",\"1.73\",\"1.73\",\"1.73\",\"2.00\",\"2.00\",\"2.00\",\"2.00\",\"2.33\",\"2.00\"]}",
        "payloadType": "json",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "950a192473a84e9a"
            ]
        ]
    },
    {
        "id": "410b3762bb9d366d",
        "type": "debug",
        "z": "d768a6d29d0e02d4",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "83315a7055b132ec",
        "type": "inject",
        "z": "d768a6d29d0e02d4",
        "name": "Ler temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "46e04cd185b831ef"
            ]
        ]
    },
    {
        "id": "d6e52932640eda57",
        "type": "debug",
        "z": "d768a6d29d0e02d4",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "a40b7215f22fda03",
        "type": "inject",
        "z": "d768a6d29d0e02d4",
        "name": "Apagar temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "d1dd8b2f7389ca3a"
            ]
        ]
    },
    {
        "id": "2834f8e2c85a3be0",
        "type": "debug",
        "z": "d768a6d29d0e02d4",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "db34282adcfe837b",
        "type": "inject",
        "z": "d768a6d29d0e02d4",
        "name": "Leitura",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "cfd59c7a0530ff55"
            ]
        ]
    },
    {
        "id": "60dae11e85c7c285",
        "type": "function",
        "z": "d768a6d29d0e02d4",
        "name": "ovo",
        "func": "var arr1 = msg.payload.egg.value;\nvar arr2 = msg.payload.day.value;\n\nfunction formatData(arr1, arr2) {\n    const dataObject = [{\n        \"series\": [\"Preço do ovo por dúzia (em reais)\"],\n        \"data\": [arr1],\n        \"labels\": arr2\n    }];\n\n    return dataObject;\n}\n\nconst result = formatData(arr1, arr2);\nreturn {payload : result };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "2388144b08922586"
            ]
        ]
    },
    {
        "id": "b48cfea2f9aa807a",
        "type": "inject",
        "z": "d768a6d29d0e02d4",
        "name": "Leitura",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "bdda6a11a170a891"
            ]
        ]
    },
    {
        "id": "a94ca33dcc2fb401",
        "type": "function",
        "z": "d768a6d29d0e02d4",
        "name": "Milho",
        "func": "var arr1 = msg.payload.corn.value;\nvar arr2 = msg.payload.day.value;\n\nfunction formatData(arr1, arr2) {\n    const dataObject = [{\n        \"series\": [\"Preço do milho (em reais)\"],\n        \"data\": [arr1],\n        \"labels\": arr2\n    }];\n\n    return dataObject;\n}\n\nconst result = formatData(arr1, arr2);\nreturn {payload : result };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "4c83d7ee49268878"
            ]
        ]
    },
    {
        "id": "2388144b08922586",
        "type": "ui_chart",
        "z": "d768a6d29d0e02d4",
        "name": "",
        "group": "c8f1f291b85d76d5",
        "order": 1,
        "width": 23,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "l",
        "interpolate": "bezier",
        "nodata": "no data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#2ca02c",
            "#ff7f0e",
            "#a4c1c9",
            "#98df8a",
            "#1f77b4",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4c83d7ee49268878",
        "type": "ui_chart",
        "z": "d768a6d29d0e02d4",
        "name": "",
        "group": "c8f1f291b85d76d5",
        "order": 2,
        "width": 23,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "l",
        "interpolate": "bezier",
        "nodata": "no data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#2ca02c",
            "#ff7f0e",
            "#a4c1c9",
            "#98df8a",
            "#1f77b4",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "568745e7b4922640",
        "type": "ui_text",
        "z": "d768a6d29d0e02d4",
        "group": "c8f1f291b85d76d5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fonte: (CEAGESP - Campinas) http://dw.ceasa.gov.br/",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "950a192473a84e9a",
        "type": "NGSI Entity",
        "z": "d768a6d29d0e02d4",
        "name": "Criar entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "410b3762bb9d366d"
            ]
        ]
    },
    {
        "id": "46e04cd185b831ef",
        "type": "NGSI Entity",
        "z": "d768a6d29d0e02d4",
        "name": "Ler entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:AgriProductType:EggAndCornNac",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "d6e52932640eda57"
            ]
        ]
    },
    {
        "id": "d1dd8b2f7389ca3a",
        "type": "NGSI Entity",
        "z": "d768a6d29d0e02d4",
        "name": "Excluir entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "urn:ngsi-ld:AgriProductType:EggAndCornNac",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "2834f8e2c85a3be0"
            ]
        ]
    },
    {
        "id": "cfd59c7a0530ff55",
        "type": "NGSI Entity",
        "z": "d768a6d29d0e02d4",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:AgriProductType:EggAndCornNac",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "60dae11e85c7c285"
            ]
        ]
    },
    {
        "id": "bdda6a11a170a891",
        "type": "NGSI Entity",
        "z": "d768a6d29d0e02d4",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:AgriProductType:EggAndCornNac",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "a94ca33dcc2fb401"
            ]
        ]
    },
    {
        "id": "c4885aa5242b3aa6",
        "type": "debug",
        "z": "3c14bb0afdbd62e1",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "6f4e3263210c92be",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "Ler temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "6c3ca0f6a4ec6dda"
            ]
        ]
    },
    {
        "id": "ad0c0d931a09fcb4",
        "type": "debug",
        "z": "3c14bb0afdbd62e1",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "73e60e851a28cac7",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "Apagar temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "847132b59e61fcde"
            ]
        ]
    },
    {
        "id": "1d8cb06fe4b8ea45",
        "type": "debug",
        "z": "3c14bb0afdbd62e1",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "3da48e82f7d9eda7",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "Leitura",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "ecd34c2213b27a82"
            ]
        ]
    },
    {
        "id": "5a35f18cbf2f21f7",
        "type": "function",
        "z": "3c14bb0afdbd62e1",
        "name": "ovo",
        "func": "var arr1 = msg.payload.price.value;\nvar arr2 = msg.payload.day.value;\n\nfunction formatData(arr1, arr2) {\n    const dataObject = [{\n        \"series\": [\"Preço Médio: Ovos, Grau A, Grande (Custo por Dúzia) nos EUA Cidade Média (APU0000708111) em Dólares\"],\n        \"data\": [arr1],\n        \"labels\": arr2\n    }];\n\n    return dataObject;\n}\n\nconst result = formatData(arr1, arr2);\nreturn {payload : result };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 220,
        "wires": [
            [
                "e043ce6c3e151604"
            ]
        ]
    },
    {
        "id": "c61d43d78fdd24a2",
        "type": "http request",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=APU0000708111&realtime_end=9999-12-31&api_key=3ec92f0c1d69183bea1bae4f2800f401&file_type=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 40,
        "wires": [
            [
                "6f70e4ab9dc9659a"
            ]
        ]
    },
    {
        "id": "0c721be29749ed66",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "c61d43d78fdd24a2"
            ]
        ]
    },
    {
        "id": "6f70e4ab9dc9659a",
        "type": "json",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "903331c7c575b858"
            ]
        ]
    },
    {
        "id": "903331c7c575b858",
        "type": "function",
        "z": "3c14bb0afdbd62e1",
        "name": "function 3",
        "func": "// Recebe o objeto no segundo formato\nvar objeto2 = msg.payload;\n\n// Cria um novo objeto no primeiro formato\nvar objeto1 = {\n    \"id\": \"urn:ngsi-ld:AgriProductType:EggInt\",\n    \"type\": \"AgriProductType\",\n    \"name\": \"EggInt\",\n    \"description\": \"Preço internacional do ovo\",\n    \"day\": [],\n    \"price\": []\n};\n\n// Percorre as observações do objeto2 e adiciona ao objeto1\nfor (var i = 0; i < objeto2.observations.length; i++) {\n    objeto1.day.push(objeto2.observations[i].date);\n    objeto1.price.push(objeto2.observations[i].value);\n}\n\n// Define o novo objeto como payload da mensagem de saída\nmsg.payload = objeto1;\n\n// Retorna a mensagem modificada\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "62d67deefc46bc53"
            ]
        ]
    },
    {
        "id": "445812963fb3523b",
        "type": "debug",
        "z": "3c14bb0afdbd62e1",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "a7eaafb0a1a9adf6",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "Ler temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "07cb2c27e80f6b91"
            ]
        ]
    },
    {
        "id": "248c1f1abafec1d8",
        "type": "debug",
        "z": "3c14bb0afdbd62e1",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 520,
        "wires": []
    },
    {
        "id": "8eba515c639af985",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "Apagar temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "4d21bacea2f9269c"
            ]
        ]
    },
    {
        "id": "7d04efd1b0dfcb01",
        "type": "debug",
        "z": "3c14bb0afdbd62e1",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "6fd1babf9b391fec",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "Leitura",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "04bf5d837c798a67"
            ]
        ]
    },
    {
        "id": "faeb5780e9fde346",
        "type": "function",
        "z": "3c14bb0afdbd62e1",
        "name": "Milho",
        "func": "var arr1 = msg.payload.price.value;\nvar arr2 = msg.payload.day.value;\n\nfunction formatData(arr1, arr2) {\n    const dataObject = [{\n        \"series\": [\"Preço global do milho (PMAIZMTUSDM) em Dólares americanos por tonelada métrica\"],\n        \"data\": [arr1],\n        \"labels\": arr2\n    }];\n\n    return dataObject;\n}\n\nconst result = formatData(arr1, arr2);\nreturn {payload : result };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 640,
        "wires": [
            [
                "d5c8c935f33b9eff"
            ]
        ]
    },
    {
        "id": "13bc72a52a47db68",
        "type": "http request",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=PMAIZMTUSDM&realtime_end=9999-12-31&api_key=3ec92f0c1d69183bea1bae4f2800f401&file_type=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 460,
        "wires": [
            [
                "ced7292ff99cbb73"
            ]
        ]
    },
    {
        "id": "d7839199f5b55043",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "13bc72a52a47db68"
            ]
        ]
    },
    {
        "id": "ced7292ff99cbb73",
        "type": "json",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 460,
        "wires": [
            [
                "23ee325a2bf72f1a"
            ]
        ]
    },
    {
        "id": "23ee325a2bf72f1a",
        "type": "function",
        "z": "3c14bb0afdbd62e1",
        "name": "function 4",
        "func": "// Recebe o objeto no segundo formato\nvar objeto2 = msg.payload;\n\n// Cria um novo objeto no primeiro formato\nvar objeto1 = {\n    \"id\": \"urn:ngsi-ld:AgriProductType:CornInt\",\n    \"type\": \"AgriProductType\",\n    \"name\": \"CornInt\",\n    \"description\": \"Preço internacional do milho\",\n    \"day\": [],\n    \"price\": []\n};\n\n// Percorre as observações do objeto2 e adiciona ao objeto1\nfor (var i = 0; i < objeto2.observations.length; i++) {\n    objeto1.day.push(objeto2.observations[i].date);\n    objeto1.price.push(objeto2.observations[i].value);\n}\n\n// Define o novo objeto como payload da mensagem de saída\nmsg.payload = objeto1;\n\n// Retorna a mensagem modificada\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 460,
        "wires": [
            [
                "e4e4674b660a36d5"
            ]
        ]
    },
    {
        "id": "e52e956ac68d8148",
        "type": "debug",
        "z": "3c14bb0afdbd62e1",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 760,
        "wires": []
    },
    {
        "id": "ec5bf9b193dfda94",
        "type": "function",
        "z": "3c14bb0afdbd62e1",
        "name": "function 5",
        "func": "// Recebe o objeto no segundo formato\nvar objeto2 = msg.payload;\n\n// Cria um novo objeto no primeiro formato\nvar objeto1 = {\n    \"id\": \"urn:ngsi-ld:AgriProductType:CornInt\",\n    \"type\": \"AgriProductType\",\n    \"name\": \"CornInt\",\n    \"description\": \"Preço internacional do milho\",\n    \"day\": [],\n    \"price\": []\n};\n\n// Percorre as observações do objeto2 e adiciona ao objeto1\nfor (var i = 0; i < objeto2.observations.length; i++) {\n    objeto1.day.push(objeto2.observations[i].date);\n    objeto1.price.push(objeto2.observations[i].value);\n}\n\n// Define o novo objeto como payload da mensagem de saída\nmsg.payload = objeto1;\n\n// Retorna a mensagem modificada\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 700,
        "wires": [
            [
                "d0a7fd511fefb8bc"
            ]
        ]
    },
    {
        "id": "5eb1c769168ad304",
        "type": "json",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 700,
        "wires": [
            [
                "ec5bf9b193dfda94"
            ]
        ]
    },
    {
        "id": "45e6681decd9c62b",
        "type": "http request",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=PMAIZMTUSDM&realtime_end=9999-12-31&api_key=3ec92f0c1d69183bea1bae4f2800f401&file_type=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 700,
        "wires": [
            [
                "5eb1c769168ad304"
            ]
        ]
    },
    {
        "id": "41bd1fbafba60efb",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "Atualiza",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "45e6681decd9c62b"
            ]
        ]
    },
    {
        "id": "d427e62923ca607c",
        "type": "http request",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.stlouisfed.org/fred/series/observations?series_id=APU0000708111&realtime_end=9999-12-31&api_key=3ec92f0c1d69183bea1bae4f2800f401&file_type=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 280,
        "wires": [
            [
                "eb4cbc5d09a8ce1a"
            ]
        ]
    },
    {
        "id": "14d7b50b1b9075f7",
        "type": "inject",
        "z": "3c14bb0afdbd62e1",
        "name": "Atualizar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "d427e62923ca607c"
            ]
        ]
    },
    {
        "id": "eb4cbc5d09a8ce1a",
        "type": "json",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "5160d850098202d0"
            ]
        ]
    },
    {
        "id": "5160d850098202d0",
        "type": "function",
        "z": "3c14bb0afdbd62e1",
        "name": "function 6",
        "func": "// Recebe o objeto no segundo formato\nvar objeto2 = msg.payload;\n\n// Cria um novo objeto no primeiro formato\nvar objeto1 = {\n    \"id\": \"urn:ngsi-ld:AgriProductType:EggInt\",\n    \"type\": \"AgriProductType\",\n    \"name\": \"EggInt\",\n    \"description\": \"Preço internacional do ovo\",\n    \"day\": [],\n    \"price\": []\n};\n\n// Percorre as observações do objeto2 e adiciona ao objeto1\nfor (var i = 0; i < objeto2.observations.length; i++) {\n    objeto1.day.push(objeto2.observations[i].date);\n    objeto1.price.push(objeto2.observations[i].value);\n}\n\n// Define o novo objeto como payload da mensagem de saída\nmsg.payload = objeto1;\n\n// Retorna a mensagem modificada\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "887a0b7c8af292f3"
            ]
        ]
    },
    {
        "id": "6a1ba0ca96b53475",
        "type": "debug",
        "z": "3c14bb0afdbd62e1",
        "name": "debug 42",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "e043ce6c3e151604",
        "type": "ui_chart",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "group": "5e1547b4c5b09615",
        "order": 1,
        "width": 23,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "l",
        "interpolate": "bezier",
        "nodata": "no data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#2ca02c",
            "#ff7f0e",
            "#a4c1c9",
            "#98df8a",
            "#1f77b4",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d5c8c935f33b9eff",
        "type": "ui_chart",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "group": "5e1547b4c5b09615",
        "order": 1,
        "width": 23,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "l",
        "interpolate": "bezier",
        "nodata": "no data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#2ca02c",
            "#ff7f0e",
            "#a4c1c9",
            "#98df8a",
            "#1f77b4",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a7c168d462b78202",
        "type": "ui_text",
        "z": "3c14bb0afdbd62e1",
        "group": "5e1547b4c5b09615",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fonte: https://fred.stlouisfed.org/",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "62d67deefc46bc53",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "Criar entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 700,
        "y": 40,
        "wires": [
            [
                "c4885aa5242b3aa6"
            ]
        ]
    },
    {
        "id": "6c3ca0f6a4ec6dda",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "Ler entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:AgriProductType:EggInt",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "ad0c0d931a09fcb4"
            ]
        ]
    },
    {
        "id": "847132b59e61fcde",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "Excluir entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "urn:ngsi-ld:AgriProductType:EggInt",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "1d8cb06fe4b8ea45"
            ]
        ]
    },
    {
        "id": "ecd34c2213b27a82",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:AgriProductType:EggInt",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "5a35f18cbf2f21f7"
            ]
        ]
    },
    {
        "id": "e4e4674b660a36d5",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "Criar entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 720,
        "y": 460,
        "wires": [
            [
                "445812963fb3523b"
            ]
        ]
    },
    {
        "id": "07cb2c27e80f6b91",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "Ler entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:AgriProductType:CornInt",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "248c1f1abafec1d8"
            ]
        ]
    },
    {
        "id": "4d21bacea2f9269c",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "Excluir entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "urn:ngsi-ld:AgriProductType:CornInt",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "7d04efd1b0dfcb01"
            ]
        ]
    },
    {
        "id": "04bf5d837c798a67",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "urn:ngsi-ld:AgriProductType:CornInt",
        "entityType": "AgriProductType",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "faeb5780e9fde346"
            ]
        ]
    },
    {
        "id": "d0a7fd511fefb8bc",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "Atualizar entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "upsert",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 730,
        "y": 700,
        "wires": [
            [
                "e52e956ac68d8148"
            ]
        ]
    },
    {
        "id": "887a0b7c8af292f3",
        "type": "NGSI Entity",
        "z": "3c14bb0afdbd62e1",
        "name": "Atualizar entidade",
        "openapis": "9bccc41af47bb660",
        "servicepath": "/",
        "actionType": "upsert",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "true",
        "dateModified": "false",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "6a1ba0ca96b53475"
            ]
        ]
    }
]